<navigation></navigation>
<div class="container-fluid">
	<div class=''>
		<div class='input-group input-group-md'>
			<input type='text' class='form-control' ng-model='searchText' placeholder=' &#xF002; filter items' style='font-family:FontAwesome'>
		</div>
	</div><br>
	
	<div class='list-group'>
		<div class='col-xs-12 col-sm-6 col-md-6' ng-repeat='item in vm.data.items | filter:searchText'>
			<div class='row item-box'>
				<div class='col-xs-4 col-md-5'>
					<a href='/#/item/{{ item._id }}'>
						<img src={{item.imageUrl}} style='width:140px;height:150px;border:1px solid black' alt=''>
					</a>
				</div>
				
				<div class='col-xs-12 col-md-7'>
						<a href='/#/item/{{ item._id }}'>{{ item.brand }} {{item.model}}</a><br>
						<div class='product-price'>{{item.price}}</div><br>
						{{item.storeName}}<br>
				</div>

			</div>
		</div>
	</div>	
	
</div>
<hr>
<footer>
	<p><small>&copy; Comparonics 2016</small></p>
</footer>