<div class='container-fluid'>
	<nav class='navbar navbar-default navbar-fixed-top'>

			<div>	
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNav'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
			</div>
			<div id='myNav' class='navbar-collapse collapse'>
				<ul class='nav navbar-nav navbar-right'>
					<li><a href="#"><span class='glyphicon glyphicon-cog'></span> Link</a></li>
					<li><a href="#"><span class='glyphicon glyphicon-eject'></span> Second Link</a></li>
					<li><a href="items"><span class='glyphicon glyphicon-list-alt'></span> List all &nbsp;</a></li>
				</ul>
			</div>
</nav>

	<div id='search'>
		<a href='home.view.html'><h1 style="text-align: center"><span style='color: red'>Compa</span><span style='color: blue'>ronics</span></h1></a>
		<form role="search" ng-submit="vm.search(vm.keyword)">
			<input type='text' class='form-control' placeholder="search item here" ng-model='vm.keyword'>
			<button type='submit' class='btn btn-default'><span class="glyphicon glyphicon-search" ></span>Search</button>
		</form>
	</div>
	
	<div>
		<ul  class='jumbotron' ng-repeat='item in vm.data.items'>
			<li><img src={{item.imageUrl}} alt=''></li>
			<li>
				{{ item.brand }}<br>
				{{item.model}}<br>
				{{item.price}}<br>
				{{item.storeName}}<br>
			</li>
		</ul>
</div>
</div>
	<hr>	
<footer>
	<div class="col-xs-12"><small>&copy; Comparonics Team 2016</small>
	</div>
	</footer>