<div class='container-fluid'>
	<nav class='navbar navbar-default navbar-fixed-top'>

			<div>	
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNav'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
			</div>
			<div id='myNav' class='navbar-collapse collapse'>
				<ul class='nav navbar-nav navbar-right'>
					<li><a href="#"><span class='glyphicon glyphicon-cog'></span> Link</a></li>
					<li><a href="#"><span class='glyphicon glyphicon-eject'></span> Second Link</a></li>
					<li><a href="items"><span class='glyphicon glyphicon-list-alt'></span> List all &nbsp;</a></li>
				</ul>
			</div>
</nav>

	<div id='search'>
		<a href='home.view.html'><h1 style="text-align: center"><span style='color: red'>Compa</span><span style='color: blue'>ronics</span></h1></a>
		<form role="search" ng-submit="vm.search(vm.keyword)">
			<input type='text' class='form-control' placeholder="search item here" ng-model='vm.keyword'>
			<button type='submit' class='btn btn-default'><span class="glyphicon glyphicon-search" ></span>Search</button>
		</form>
	</div>
	
	<div class='row'>
			
		<div class='col-xs-12 col-sm-6 col-md-6' ng-repeat='item in vm.data.items | filter:searchText'>
			<div class='row item-box'>
				<div class='col-xs-4 col-md-5'>
					<a href='/#/item/{{ item._id }}'>
						<img src={{item.imageUrl}} style='width:140px;height:150px;border:1px solid black' alt=''>
					</a>
				</div>
				
				<div class='col-xs-12 col-md-7'>
						<a href='/#/item/{{ item._id }}'>{{ item.brand }} {{item.model}}</a><br>
						<div class='product-price'>{{item.price}}</div><br>
						{{item.storeName}}<br>
				</div>

			</div>
		</div>
</div>
</div>
	<hr>	
<footer>
	<div class="col-xs-12"><small>&copy; Comparonics 2016</small>
	</div>
	</footer>