<navigation></navigation>
	<div class='container-fluid'>
<div class='jumbotron'>

	<div class='row'>
		<div class='col-xs-6 col-sm-5'>
			<img src='https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/leisa_christmas_false_color.png?itok=Jxf0IlS4' width="200px" alt=''>
		</div><br>
		<div class='col-xs-8 col-sm-7'>
			{{vm.data.item.brand}}<br>
			{{vm.data.item.model}}<br>
			{{vm.data.item.price}}<br>
			{{vm.data.item.storeName}}<br>
			<a href='#' role='button' class='btn btn-primary'>Go to Store</a> 

		</div>
	</div>	
</div>
	</div>