<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/" class="navbar-brand">Comparonics</a>
      <button type="button" data-toggle="collapse" data-target="#topNavbar" class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
    </div>
    <div id="topNavbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register"><span class='glyphicon glyphicon-user'></span>Sign up</a></li>
				<li><a href="login"><span class='glyphicon glyphicon-log-in'></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>